/* Fonts */
@font-face {
  font-family: "robotoblack";
  src: url("../fonts/roboto-black-webfont.woff2") format("woff2"), url("fonts/roboto-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotothin";
  src: url("../fonts/roboto-thin-webfont.woff2") format("woff2"), url("../fonts/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("../fonts/shrikhand-regular-webfont.woff2") format("woff2"), url("../fonts/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Variable */
/* Mixin */
/* Reset */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 1.6em;
  font-family: "robotobold";
}

h2 {
  font-size: 1.4em;
  font-family: "robotobold";
}

p {
  font-family: "robotoregular";
}

body {
  background: #f3f3f3;
  font-size: 16px;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background: #ffffff;
}
.header__icon-backarrow {
  display: flex;
  font-size: 20px;
  color: #424242;
  display: none;
}
.header__icon-backarrow i:visited {
  color: #424242;
}
.header__logo-website {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.header__logo-website img {
  width: 40%;
}

/* SECTION LOCATION */
.main-container-all-page .user-location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  color: #353535;
  height: 50px;
  -webkit-box-shadow: inset 1px 8px 13px -16px black;
  -moz-box-shadow: inset 1px 8px 13px -16px black;
  box-shadow: inset 1px 8px 13px -16px black;
}
.main-container-all-page .user-location i {
  margin-right: 15px;
  font-size: 1.2em;
}
.main-container-all-page .user-location p {
  font-weight: 700;
}

/* SECTION SLOGAN */
.main-container-all-page .slogan-website {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f5f5f5;
  padding: 10px 10px 10px 10px;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}
.main-container-all-page .slogan-website h1 {
  margin-bottom: 30px;
}
.main-container-all-page .slogan-website p {
  color: #575757;
  font-size: 1.2em;
  margin-bottom: 30px;
}
.main-container-all-page .slogan-website .btn {
  -moz-box-shadow: 3px 4px 12px 0px #899599;
  -webkit-box-shadow: 3px 4px 12px 0px #899599;
  box-shadow: 3px 4px 12px 0px #899599;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e079c5), color-stop(1, #bd3ed6));
  background: -moz-linear-gradient(top, #e079c5 5%, #bd3ed6 100%);
  background: -webkit-linear-gradient(top, #e079c5 5%, #bd3ed6 100%);
  background: -o-linear-gradient(top, #e079c5 5%, #bd3ed6 100%);
  background: -ms-linear-gradient(top, #e079c5 5%, #bd3ed6 100%);
  background: linear-gradient(to bottom, #e079c5 5%, #bd3ed6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e079c5", endColorstr="#bd3ed6",GradientType=0);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1em;
  padding: 20px 35px;
  text-decoration: none;
  border: none;
  font-family: "Robotomedium";
  font-weight: 100;
}

/* SECTION TUTORIAL */
.main-container-all-page .working-guide-website {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  background: #ffffff;
}
.main-container-all-page .working-guide-website h1 {
  margin-bottom: 30px;
}
.main-container-all-page .working-guide-website .step-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-shadow: 3px 3px 5px 1px #d9d9d9;
  -moz-box-shadow: 3px 3px 5px 1px #d9d9d9;
  box-shadow: 3px 3px 5px 1px #d9d9d9;
  border-radius: 20px;
  height: 75px;
  margin-bottom: 20px;
  background: #f5f5f5;
}
.main-container-all-page .working-guide-website .step-block:hover {
  background: #f8ecfd;
}
.main-container-all-page .working-guide-website .step-block__number {
  position: relative;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  padding: 8px;
  background: #9356DC;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  margin-right: 10px;
}
.main-container-all-page .working-guide-website .step-block__icon {
  color: #585858;
  font-size: 1.5em;
  margin-right: 30px;
}
.main-container-all-page .working-guide-website .step-block__icon:hover {
  color: #9356DC;
}
.main-container-all-page .working-guide-website .step-block__text {
  font-weight: 700;
}

/* SECTION RESTAURANT */
.main-container-all-page .grid-restaurants {
  padding-top: 3%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background: #f3f3f3;
  padding-left: 5%;
  padding-right: 5%;
}
.main-container-all-page .grid-restaurants h1 {
  margin-bottom: 30px;
}
.main-container-all-page .grid-restaurants .restaurant-prev {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 5%;
  -webkit-box-shadow: 3px 3px 5px 1px #d9d9d9;
  -moz-box-shadow: 3px 3px 5px 1px #d9d9d9;
  box-shadow: 3px 3px 5px 1px #d9d9d9;
}
.main-container-all-page .grid-restaurants .restaurant-prev button {
  width: 25%;
  height: 10%;
  position: absolute;
  background-color: #7be3bd;
  border-radius: 3px;
  display: inline-block;
  color: #088f42;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  border: none;
  bottom: 80%;
  left: 85%;
  transform: translate(-50%, -50%);
}
.main-container-all-page .grid-restaurants .restaurant-prev__image {
  width: 100%;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
}
.main-container-all-page .grid-restaurants .restaurant-prev .restaurant-prev-content-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.main-container-all-page .grid-restaurants .restaurant-prev .restaurant-prev-content-block .restaurant-prev-content-block-description {
  margin-left: 5%;
}
.main-container-all-page .grid-restaurants .restaurant-prev .restaurant-prev-content-block .restaurant-prev-content-block-description a {
  text-decoration: none;
  color: #000000;
}
.main-container-all-page .grid-restaurants .restaurant-prev .restaurant-prev-content-block .restaurant-prev-content-block-description__name-restaurant {
  font-size: 1.4em;
}
.main-container-all-page .grid-restaurants .restaurant-prev .restaurant-prev-content-block .restaurant-prev-content-block-description__city-restaurant {
  font-family: "Robotothin";
  font-weight: 800;
  font-size: 1.2em;
}
.main-container-all-page .grid-restaurants .restaurant-prev .restaurant-prev-content-block i {
  font-size: 1.8em;
  color: #4e4e4e;
  margin-right: 5%;
  cursor: pointer;
}
.main-container-all-page .grid-restaurants .restaurant-prev .restaurant-prev-content-block i:hover {
  color: #9356DC;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #2d3436;
  color: white;
  padding: 5%;
}
.footer__logo-website {
  filter: invert(100%);
  width: 25%;
  margin-bottom: 20px;
}
.footer .footer-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer .footer-nav__link {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer .footer-nav__link i {
  margin-right: 10px;
}

.header .header__icon-backarrow {
  display: block;
}

.main-container-page .img-restaurant img {
  width: 100%;
}
.main-container-page .restaurant-menu {
  position: relative;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  border-top-left-radius: 30px 30px;
  border-top-right-radius: 30px 30px;
  padding: 3%;
}
.main-container-page .restaurant-menu .restaurant-menu-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.main-container-page .restaurant-menu .restaurant-menu-heading h1 {
  font-family: "shrikhandregular";
  font-weight: 400;
  font-size: 1.8em;
}
.main-container-page .restaurant-menu .restaurant-menu-heading i {
  font-size: 1.5em;
  color: #4e4e4e;
  margin-right: 5%;
}
.main-container-page .restaurant-menu .restaurant-menu-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-container-page .restaurant-menu .restaurant-menu-content .restaurant-menu-content-category {
  margin-bottom: 15px;
}
.main-container-page .restaurant-menu .restaurant-menu-content .restaurant-menu-content-category p {
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 5px;
}
.main-container-page .restaurant-menu .restaurant-menu-content .restaurant-menu-content-category hr {
  width: 40px;
  border: 2px solid #99E2D0;
  text-align: left;
}
.main-container-page .restaurant-menu .restaurant-menu-content .restaurant-menu-content-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #ffffff;
  margin-bottom: 15px;
  -webkit-box-shadow: 3px 3px 5px 1px #d9d9d9;
  -moz-box-shadow: 3px 3px 5px 1px #d9d9d9;
  box-shadow: 3px 3px 5px 1px #d9d9d9;
}
.main-container-page .restaurant-menu .restaurant-menu-content .restaurant-menu-content-item .restaurant-menu-content-item-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.main-container-page .restaurant-menu .restaurant-menu-content .restaurant-menu-content-item .restaurant-menu-content-item-text .restaurant-menu-content-item-text-name {
  font-weight: bold;
  margin-bottom: 5px;
}
.main-container-page .restaurant-menu .restaurant-menu-content .restaurant-menu-content-item .restaurant-menu-content-item-text .restaurant-menu-content-item-text-ingredient {
  color: #494949;
  font-size: 0.9em;
}
.main-container-page .restaurant-menu .restaurant-menu-content .restaurant-menu-content-item .restaurant-menu-content-item-price {
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2%;
  font-weight: bold;
  color: #353535;
  font-size: 1em;
}
.main-container-page .restaurant-menu .restaurant-menu-content .restaurant-menu-content-item .restaurant-menu-content-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  color: #ffffff;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  width: 20%;
  font-size: 1.2em;
}
.main-container-page .restaurant-order {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background: #f0f0f0;
}
.main-container-page .restaurant-order .btn {
  width: 50%;
  -moz-box-shadow: 3px 4px 12px 0px #899599;
  -webkit-box-shadow: 3px 4px 12px 0px #899599;
  box-shadow: 3px 4px 12px 0px #899599;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e079c5), color-stop(1, #bd3ed6));
  background: -moz-linear-gradient(top, #e079c5 5%, #bd3ed6 100%);
  background: -webkit-linear-gradient(top, #e079c5 5%, #bd3ed6 100%);
  background: -o-linear-gradient(top, #e079c5 5%, #bd3ed6 100%);
  background: -ms-linear-gradient(top, #e079c5 5%, #bd3ed6 100%);
  background: linear-gradient(to bottom, #e079c5 5%, #bd3ed6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e079c5", endColorstr="#bd3ed6",GradientType=0);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1em;
  padding: 20px 35px;
  text-decoration: none;
  border: none;
  font-family: "Robotomedium";
  font-weight: 100;
}

/*# sourceMappingURL=menu_1.css.map */
