@import "style.scss";


/* Fonts */

@font-face {
    font-family: 'shrikhandregular';
    src: url('../fonts/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../fonts/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.header{

    .header__container{

        .header__back{
            display: block;
        }
    
        .header__logo{

        }
    }
}


.main-container-page{
    display: flex;
    flex-direction: column;
    background: #f0f0f0;

    .img-restaurant{
        img{
            width: 100%;
        }
    }

    .restaurant-presentation{
        position: relative;
        bottom:30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #f0f0f0;
        border-top-left-radius: 30px 30px;
        border-top-right-radius: 30px 30px;



        .restaurant-headline{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin-top:40px;
            margin-bottom: 40px;


            h1{
                font-family: 'shrikhandregular';
            }

            .fav-icon{
                font-size: 1.5em;
                color:#4e4e4e;
            }
        }

        .menu-presentation{
            display: flex;
            flex-direction: column;
            width: 95%;

            .menu-category{
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                color:#353535;

                p{
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }

                hr{
                    width: 40px;
                    border: 2px solid $color-element-decoration-tertiary;
                    text-align: left;
                }

            }

            .menu-items{
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;


                .menu-item{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;
                    border-radius: 10px;
                    -webkit-box-shadow: 3px 3px 5px 1px rgba(217,217,217,1);
                    -moz-box-shadow: 3px 3px 5px 1px rgba(217,217,217,1);
                    box-shadow: 3px 3px 5px 1px rgba(217,217,217,1);
                    background: #ffffff;

                    .menu-item-description{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 80%;
                        margin-left: 10px;
                        margin-top: 10px;
                        margin-bottom: 10px;

                        .menu-item-description__title{
                            font-weight: bold;
                            margin-bottom: 5px;
                        }

                        .menu-item-description__ingredient{
                            color:#494949;
                            font-size: 0.9em;
                        }
                    }

                    .menu-item-price{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: flex-end;
                        width: 20%;
                        margin-bottom: 10px;
                        color:#353535;
                        font-weight: 600;
                    }

                    .menu-item-add-shopping-list{
                        display: flex;
                        flex-direction: row;
                        width: 20%;
                        background:$color-element-decoration-tertiary;
                        color:#ffffff;
                        font-size: 1.2em;
                        justify-content: center;
                        align-items: center;
                        border-top-right-radius: 10px 10px;
                        border-bottom-right-radius: 10px 10px;
                    }
                }
            }
        }





        
    }



    .restaurant-order{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        background: #f0f0f0;

        .btn{
            width: 180px;
            -moz-box-shadow: 3px 4px 12px 0px #899599;
            -webkit-box-shadow: 3px 4px 12px 0px #899599;
            box-shadow: 3px 4px 12px 0px #899599;
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e079c5), color-stop(1, #bd3ed6));
            background:-moz-linear-gradient(top, #e079c5 5%, #bd3ed6 100%);
            background:-webkit-linear-gradient(top, #e079c5 5%, #bd3ed6 100%);
            background:-o-linear-gradient(top, #e079c5 5%, #bd3ed6 100%);
            background:-ms-linear-gradient(top, #e079c5 5%, #bd3ed6 100%);
            background:linear-gradient(to bottom, #e079c5 5%, #bd3ed6 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e079c5', endColorstr='#bd3ed6',GradientType=0);
            background-color:#e079c5;
            -webkit-border-radius:25px;
            -moz-border-radius:25px;
            border-radius:25px;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:14px;
            font-weight:bold;
            padding:15px 60px;
            text-decoration:none;
            border:none;
        }
    }  
}
