

/* Fonts */


@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/Roboto-Black-webfont.eot');
    src: url('../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Black-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Black-webfont.woff') format('woff'),
         url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotobold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/Roboto-Medium-webfont.eot');
    src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotothin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'shrikhandregular';
    src: url('../fonts/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../fonts/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* Variable */

$color-element-decoration-primary:#9356DC;
$color-element-decoration-secondary:#FF79DA;
$color-element-decoration-tertiary:#99E2D0;
$color-bg: #f5f5f5;



/* Mixin */

@mixin flexMid{
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin external-shadow () {
    -webkit-box-shadow: 3px 3px 5px 1px rgba(217,217,217,1);
    -moz-box-shadow: 3px 3px 5px 1px rgba(217,217,217,1);
    box-shadow: 3px 3px 5px 1px rgba(217,217,217,1);
}

@mixin inset-shadow () {
    -webkit-box-shadow: inset 1px 8px 13px -16px rgba(0,0,0,1);
    -moz-box-shadow: inset 1px 8px 13px -16px rgba(0,0,0,1);
    box-shadow: inset 1px 8px 13px -16px rgba(0,0,0,1);    
}


@mixin btn-effect{
    width: 220px;
    font-size: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 70px;
    border: none;
    background:linear-gradient(to bottom, #fa5798 5%, #ad27e6 100%);
    color: #fff;
    font-family: 'robotoregular';
    font-weight: 500;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 32px 0px rgba(171,171,171,1);
    -moz-box-shadow: 10px 10px 32px 0px rgba(171,171,171,1);
    box-shadow: 10px 10px 32px 0px rgba(171,171,171,1);
    transition: all 400ms;
    
    &:hover{
        transform: scale(1.1);
        background:linear-gradient(to bottom, #ff67a6 5%, #bb58e6 100%);
        -webkit-box-shadow: 7px 10px 51px -6px rgba(56,56,56,1);
        -moz-box-shadow: 7px 10px 51px -6px rgba(56,56,56,1);
        box-shadow: 7px 10px 51px -6px rgba(56,56,56,1);
      }
}



@mixin heart-icon {
    cursor: pointer;
    font-size: 1.8em;
    margin-right: 5%;
    width: 25px;

    svg{
        fill: transparent;
        stroke-width: 20;
        stroke: black;
        transition: fill 800ms, stroke 200ms;


        &:hover{
            stroke: #9356DC;
            fill:#9356DC;
        }
    }
}



/* Animations */

@keyframes slideDown {
    from {
        transform: translateY(25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes translateX9999{
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
    }
}


@keyframes rotate-loading-animation{
    0%{
      transform:rotate(0turn);
      opacity: 0;
    }
    
    5%{
      opacity: 1;
    }
    
    100%{
      transform:rotate(2turn);
      opacity: 1;
    }
  }





/* Reset */

*{
    margin: 0;
    padding: 0;
}



/* General */

h1{
    font-size:1.6em ;
    font-family: 'robotomedium';
}

h2{
    font-size:1em ;
    font-family: 'robotoregular';
}

p{
    font-size: 1em;
    font-family: 'robotoregular';
}

body{
    font-size: 16px;
    background: $color-bg;
}


.loading-page{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
  }
  
  .loading-spinner{
    opacity: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid lightgray;
    border-top-color: $color-element-decoration-primary;
    animation-name: rotate-loading-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 200ms;
    animation-direction: normal;
    /*animation-iteration-count: infinite;*/
  }




/* HEADER */

.header{
    @include flexMid;
    flex-direction: row;
    padding: 20px;
    background: #ffffff;

    &__icon-backarrow{
        display: flex;
        font-size: 20px;
        color: #424242;
        display: none;
        
        a, a:visited, a:hover, a:active {
            color: inherit;
          }

    }

    &__logo-website{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex:1;

        img{
            width: 150px;
        }
    }
}




/* MAIN */

.homepage{
    animation: translateX9999 2s;


    /* User Location */

    .homepage-user-location{
        @include flexMid;
        flex-direction: row;
        background: #f0f0f0;
        color:#353535;
        height: 50px;
        @include inset-shadow;

        .fa-map-marker-alt{
            margin-right:15px;
            font-size: 1.2em;
        }
    }

    /* Slogan Website */

    .homepage-slogan-website{
        @include flexMid;
        flex-direction: column;
        text-align: center;
        background: #f5f5f5;
        padding: 50px 10px 50px 10px;
        
        h1{
            margin-bottom: 30px;
        }

        p{
            color:#575757;
            font-size: 1.2em;
            margin-bottom: 30px;
        }

        &__main-btn{
            @include btn-effect();
        }
    }


    /* Tutorial */

    .homepage-tutorial{
        display: flex;
        flex-direction: column;
        background: #ffffff;
        padding: 50px 20px 50px 20px;

        h1{
            margin-bottom: 30px;
        }


        .homepage-tutorial-row{
            display: flex;
            flex-direction: column;

            .homepage-tutorial-advice{
                display: flex;
                flex-direction: row;
                align-items: center;
                @include external-shadow;
                border-radius: 20px;
                height: 75px;
                margin-bottom: 20px;
                background: $color-bg;

                p{
                    font-family: 'robotoregular';
                }
    
                &:hover{
                    background: #f8ecfd;
                }
                
                &__step-number{
                    @include flexMid;
                    position: relative;
                    right:15px;
                    border-radius: 50%;
                    height: 12px;
                    width: 12px;
                    padding: 8px;
                    background: $color-element-decoration-primary;
                    color: #ffffff;
                    font-size: 1em;
                    margin-right:10px;
                }
    
                i{
                    color:#585858;
                    font-size:1.5em;
                    margin-right:30px;
    
                    &:hover{
                        color: $color-element-decoration-primary;
                    }
                }
    
                &__text{
                    font-weight: bold;
                }
            } 
        }        
    }


    /* Liste Restaurants */

    .homepage-restaurants{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:$color-bg;


        h1{
            margin-left: 3%;
            margin-bottom: 30px;
            align-self: flex-start;
            font-family: 'robotobold';
        }

        .homepage-restaurants-row{
            @include flexMid;
            flex-direction: column;
            width: 100%;



            .homepage-restaurant-prev{
                @include flexMid;
                position: relative;
                flex-direction: column;
                background: #ffffff;
                border-radius: 20px;
                margin-bottom: 5%;
                @include external-shadow;
                width: 95%;
                margin-right: 10px;
                margin-left: 10px;
    
                &__image{
                    width: 100%;
                    border-top-left-radius: 20px 20px;
                    border-top-right-radius: 20px 20px;
                }
    
                &__info-btn{
                    width: 25%;
                    height: 10%;
                    position: absolute;
                    background-color:#7be3bd;
                    border-radius:3px;
                    display:inline-block;
                    color:#088f42;
                    font-size:1em;
                    font-family: 'robotobold';
                    text-decoration:none;
                    border: none;
                    bottom: 80%;
                    left: 85%;
                    transform: translate(-50%, -50%);
                }
    
                
    
                .homepage-restaurant-prev-content{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-top: 2%;
                    margin-bottom: 2%;
    
                    
                    .homepage-restaurant-prev-content-description{
                        margin-left: 5%;
    
    
                        a{
                            text-decoration: none;
                            color: #000000;
                        }
    
                        &__name-restaurant{
                            font-size:1.4em ;
                            font-family: 'robotobold';
                        }
    
                        &__city-restaurant{
                            font-family: 'Robotothin';
                            font-weight: 800;
                            font-size: 1.2em;
                        }
                    }
    
    
                    .homepage-restaurant-prev-content-heart-icon{
                        @include heart-icon;
                    }    
                }         
            }
        } 
    }
}



/* FOOTER */

.footer{
    display: flex;
    flex-direction: column;
    background-color: #2d3436;
    color:white;
    padding: 40px;

    &__logo-website{
        filter: invert(100%);
        width: 150px;
        margin-bottom: 20px;
    }
    
    .footer-nav{
        display: flex;
        flex-direction: column;
        width: 100%;

        &__link{
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-top: 5px;
            margin-bottom: 5px;

            i{
                font-size: 0.8em;
                width: 25px;

            }

            a{
                text-decoration: none;
                color: #ffffff;
            }
        }
    }
}
