

@import "../utils/variables";



/* Reset */
*{
    margin: 0;
    padding: 0;
}


/* General */
h1{
    font-size:1.6em ;
    font-family: 'robotomedium';
}

h2{
    font-size:1em ;
    font-family: 'robotoregular';
}

h3{
    font-family: 'robotoregular';
}

p{
    font-size: 1em;
    font-family: 'robotoregular';
}

body{
    font-size: 16px;
    background: $color-bg;
}